* { box-sizing: border-box; }

body {
  margin: 0;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.player {
  max-width: 750px;
  border: 5px solid #333;
  border-radius: 10px;
  overflow: hidden;
  background: black;
  position: relative;
}

/* same class name as Cypress expects */
.player_video {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.progress {
  flex: 10;
  position: relative;
  height: 8px;
  background: #555;
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  border-radius: 5px;
}

.progress__filled {
  width: 0%;
  background: #ffc600;
  flex-basis: 0%;
  height: 100%;
  border-radius: 5px;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.player__button:hover {
  color: #ffc600;
}

.player__slider {
  width: 100px;
  margin: 0 10px;
}
